:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #040404;
  --black-soft: #222222;
  --black-mute: #282828;

  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);

  --green: #f4faf6;
  --green-hover: #d9e4dd;
  --green-dark: #81d489;
  --shadow: #0000000f;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);
    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);
  }
}
* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  color: var(--black);
  background: linear-gradient(to right, #ffffff, transparent), url(https://images.unsplash.com/photo-1490818387583-1baba5e638af) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.container {
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
.hero .container {
  max-width: 750px;
  margin-left: auto;
  margin-right: 5%;
}
.recipes .container {
  padding: 0 20px;
  max-width: 1020px;
  margin-left: auto;
  margin-right: 5%;
}
.flex-center {  
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-message {
  font-size:20px;
  height: 100vh;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 24px;
  font-weight: 700;
  background: var(--white);
}
.loading img {
  width: 200px;
}
.recipe-loader {
  font-size: 24px;
  font-weight: 600;
  max-width: 440px;
  text-align: center;
  margin: 100px auto 0;
}
.hero {
  width: 100%;    
  padding: 50px 0;
  text-align: center;
}
.hero h1 {
  font-size: 40px;
}
.recipe-search {
  padding: 20px;
  box-shadow: 0 4px 18px 0 var(--shadow);
  background-color: #fff;
  margin: 40px 0 0; 
}
.recipe-search form {
  display: flex;
  gap: 20px;
}
.form-control {
  background-color: var(--white-soft);
  border: 0;
  width: 100%;
  height: 60px;
  padding: 1rem 1.25rem;
  font-size: 1.25rem;
  font-family: "DM Sans", sans-serif;
}
.form-control:focus,
.form-control:focus-within {
  outline: 2px solid var(--green-dark);
}
.btn {
  background: var(--black);
  color: var(--white);
  border:1px solid var(--black);
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  transition: all 0.3s ease-in
}
.btn.btn-sm {
  padding: 5px 10px;
}
.btn.btn-lg {
  padding: 0.5rem 1.25rem;
  font-size: 1.25rem;
}
.btn:focus,
.btn:focus-within {
  outline-offset: 3px;
}
button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
.recipes {
  padding-bottom: 40px;
}
.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.recipe-card {
  display: block;
  width: 180px;
  max-width: 180px;
}
.recipe-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
}
.recipe-card a{
  color: var(--black)
}
.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: end;
}
.filters .filter-checkbox {
  padding: 6px 10px;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  border: 1px solid var(--black);
  display: inline-block;
  color: var(--vt-c-black);
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.3s ease-in
}
.filters .filter-checkbox:hover,
.filters .filter-checkbox:focus-within,
.filters input[type="checkbox"]:checked + .filter-checkbox {
  background-color: var(--black);
  color: var(--white);
  outline: none;
}
.filters input[type="checkbox"]:focus + .filter-checkbox {
  outline: 2px solid var(--black);
  outline-offset: 3px
}
.filters input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.pagination {
  gap:20px;
  margin-top:30px
}
.recipe-details {
  background-color: #fff;
  position: relative;
  padding-bottom: 40px;
  margin-top: 400px;
}
.recipe-details-grid {
  display: flex;
  gap: 40px;
}
.recipe-details-card {
  background-color: var(--white);
  box-shadow: 0 4px 18px 0 var(--shadow);
  flex: 0 auto;
  width: 100%;
  padding: 40px;
  margin-top: -100px;
  font-size: 20px;
}
.recipe-image {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  top: 0;
}
.recipe-image .btn {
  position: absolute;
  top: 20px;
  left: 20px;
}
.recipe-details-grid > .recipe-details-card:last-child {
  width: 350px;
  height: auto;
  position: sticky;
  top: 40px;
  align-items: self-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.recipe-details-card h1 {
  font-size: 4rem;
  margin: 0;
}
.ingredients ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--text-dark-2);
}
.ingredients ul {
  list-style: none;
  padding: 0;
}
.health-info {
  margin: 0;
}
.health-info span {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
.health-info img {
  width: 24px;
}
.instructions ol {
  padding-left: 20px;
}
.instructions ol li {
  padding: 10px 0;
}
@media(max-width:1199px) {
  .hero .container {
    margin: 0 auto;
  }
}
@media(max-width:991px ){
  .recipe-details-grid {
    flex-direction: column;
  }
  .recipe-details-grid > .recipe-details-card:last-child {
    width: 100%;
    margin-top: 0;
  }
  .recipe-card {
    display: block;
    flex: none;
    width: calc(50% - 10px);
    max-width:100%
  }
  .filters {
  justify-content: start;
  }
}
@media(max-width:767px) {
  .recipe-details-card h1 {
    font-size: 2rem;
  }
  .recipe-details-card {
    padding: 30px 20px;
    font-size: 16px;
    margin-top:0;
  }
  .recipe-image {
    height: 300px;
  }
  .recipe-details {
    margin-top: 300px;
  }
  .recipe-card {
    width: 100%;
  }
  .hero h1 {
    font-size: 24px;
  }
  .form-control,.btn.btn-lg {
    font-size: 18px;
    padding: 0.5rem .75rem;   
  }
  .recipe-search {
    padding: 0;
  }
  .recipe-search form {
    gap: 0;
  }
}